<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <v-card>
        <v-card-text>
          <div v-if="$auth.user" class="mb-5">
            <h2>Hello {{ $auth.user.name }}</h2>
            <hr />
          </div>
          <v-btn to="/new">Add Job</v-btn>
          <v-simple-table>
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-left">Title</th>
                  <th class="text-left">Description</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="job in jobs" :key="job.id">
                  <td>{{ job.title }}</td>
                  <td>
                    {{ job.description }}
                  </td>
                  <td>
                    <v-btn xs icon :to="'/edit/' + job.id">
                      <v-spacer></v-spacer>
                      <v-icon>mdi-pencil</v-icon>
                    </v-btn>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters({
      jobs: 'jobs/jobs',
    }),
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.dispatch('jobs/index').then(() => {
        this.$echo.channel('alerts').listen('.job.created', (e) => {
          this.$store.dispatch('alerts/store', {
            title: 'A job was created',
            description: `${e.user.name} added a new job`,
            job: e.job,
          })
        })
      })
    })
  },
}
</script>
