<template>
  <v-row>
    <v-spacer></v-spacer>
    <v-col cols="4" class="text-center">
      <v-form ref="form">
        <v-text-field v-model="email" label="Email" required></v-text-field>
        <v-text-field
          v-model="password"
          label="Pasword"
          type="password"
          required
        ></v-text-field>

        <v-btn color="success" class="mr-4" @click="login"> Log In </v-btn>
      </v-form>
    </v-col>
    <v-spacer></v-spacer>
  </v-row>
</template>
<script>
export default {
  auth: false,

  data() {
    return {
      email: '',
      password: '',
    }
  },
  methods: {
    login() {
      this.$store
        .dispatch('user/login', {
          username: this.email,
          password: this.password,
        })
        .then(() => {
          this.$router.push('/')
        })
        .catch(() => {})
    },
  },
}
</script>
