<template>
  <v-row>
    <v-spacer></v-spacer>
    <v-col cols="4" class="text-center">
      <v-form ref="form" v-model="valid" lazy-validation @submit="submit">
        <v-text-field v-model="title" label="Title" required></v-text-field>
        <v-textarea
          v-model="description"
          outlined
          label="Description"
          required
        ></v-textarea>

        <v-btn color="success" class="mr-4" @click="submit"> Add Job </v-btn>
      </v-form>
    </v-col>
    <v-spacer></v-spacer>
  </v-row>
</template>

<script>
export default {
  data() {
    return {
      valid: false,
      title: '',
      description: '',
    }
  },
  methods: {
    submit() {
      this.$store
        .dispatch('jobs/store', {
          title: this.title,
          description: this.description,
        })
        .then(() => {
          this.$router.push('/')
        })
    },
  },
}
</script>
