<template>
  <v-row>
    <v-spacer></v-spacer>
    <v-col cols="4" class="text-center">
      <v-alert v-if="isLockedBySomebodyElse" color="purple">
        <v-icon>mdi-lock</v-icon> Currently being edited by:
        {{ currentEditor.email }}
      </v-alert>
      <v-form ref="form">
        <v-text-field
          v-model="job.title"
          :disabled="isLockedBySomebodyElse"
          label="Title"
          required
        ></v-text-field>
        <v-textarea
          v-model="job.description"
          :disabled="isLockedBySomebodyElse"
          outlined
          label="Description"
          required
        ></v-textarea>

        <v-btn
          :disabled="isLockedBySomebodyElse"
          color="success"
          class="mr-4"
          @click="update"
        >
          Save
        </v-btn>
      </v-form>
    </v-col>
    <v-spacer></v-spacer>
  </v-row>
</template>

<script>
export default {
  fetch() {
    this.$store.dispatch('jobs/show', this.$route.params.id).then(() => {
      this.wsChannel = this.$echo
        .join(`job.${this.$route.params.id}`)
        .listenForWhisper('who-edits', () => {
          console.log('someone just asked for the editor')
          if (this.currentEditor.id === this.$auth.user.id) {
            this.wsChannel.whisper('editor', this.$auth.user)
          }
        })
        .listenForWhisper('editor', (e) => {
          // a client has broadcasted the name of the editor
          console.log('a wild editor has appeared!', e)
          this.currentEditor = e
        })
        .here((users) => {
          console.log(users, users.length)
          if (users.length === 1) {
            this.currentEditor = this.$auth.user
            this.wsChannel.whisper('editor', this.$auth.user)
          }
          // ask for the editor
          this.wsChannel.whisper('who-edits', {})
        })

      this.job = Object.assign(
        {},
        this.$store.getters['jobs/byId'](this.$route.params.id)
      )
    })
  },
  data() {
    return {
      job: {
        title: '',
        description: '',
      },
      wsChannel: null,
      currentEditor: null,
    }
  },
  computed: {
    isLockedBySomebodyElse() {
      return this.currentEditor && this.currentEditor.id !== this.$auth.user.id
    },
  },
  beforeDestroy() {
    this.$echo.leave(`job.${this.$route.params.id}`)
  },
  methods: {
    update() {
      this.$store.dispatch('jobs/update', this.job).then(() => {
        this.$router.push('/')
      })
    },
  },
}
</script>
